.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.frame {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.text-desctiption {
  font-size: 20px;
  position: absolute;
  top: 50%; /* Adjust based on image and text size */
  width: 50%;
  text-align: center;
  opacity: 1;
  padding-left: 120px;
}

.work__left {
  position: relative;
  width: 50%;
  z-index: 2;
}
.work__text {
  position: sticky;
  top: 0;
  /* margin: auto; */
  width: 100%;
}

.work__info {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work__right {
  width: 50%;
  height: auto;
}
.work__right-b1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}

.work__photo {
  width: 40vw;
  height: 30vw;
  position: relative;
}

.work__photo-item {
  position: absolute;
  width: 400px;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.work__photo-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
